<a href="https://colab.research.google.com/github/sanika-mhadgut/NLP/blob/master/Amazon_VowelConsonent_Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Name : Sanika Mhadgut
Branch : Btech Data Science sem 5
Roll No: J031
Data : 7/10/12

It counts the total number of vowels and consonants in this string using For Loop.

First, we used Python For Loop to iterate each character in a String. Inside the For Loop, we are using If Statement to check the character is a, e, i, o, u, A, E, I, O, U. If true, increment the vowels value otherwise, increment the consonant value

In [0]:
import pandas as pd
import gzip
import io
from collections import Counter
import sys
from collections import defaultdict
import string

In [0]:
url="http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz"

In [0]:
df=pd.read_json(url,lines=True)
df

           reviewerID        asin  ... unixReviewTime   reviewTime
0      A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1      A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2      A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3       A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4      A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
...               ...         ...  ...            ...          ...
53253  A1ODOGXEYECQQ8  B00KYA0RC2  ...     1405555200  07 17, 2014
53254  A2XX2A4OJCDNLZ  B00KYA0RC2  ...     1405296000  07 14, 2014
53255  A3LGT6UZL99IW1  B00KYA0RC2  ...     1405468800  07 16, 2014
53256  A1XJOSJN6FHFO0  B00KYA0RC2  ...     1405814400  07 20, 2014
53257   AAEVGE52KL0DJ  B00KYA0RC2  ...     1404604800   07 6, 2014

[53258 rows x 9 columns]

In [0]:
def custom_func(text):
  vc=0
  cc=0
  for i in text:
      if( i=='A' or i=='a' or i=='E' or i=='e' or i=='I' or i=='i' or i=='O' or i=='o'or i=='U' or i=='u'):
          	vc +=1
      else:
        cc +=1 
  words = text.split()
  wordCount = len(words)
  counter = {'vowel': vc,'con': cc,'WordCount':wordCount} 
  return counter

In [0]:
df['TextCount'] = df.reviewText.apply(custom_func)

df['TextCount'].head()

0      {'vowel': 279, 'con': 693, 'WordCount': 186}
1    {'vowel': 1504, 'con': 3851, 'WordCount': 911}
2       {'vowel': 134, 'con': 361, 'WordCount': 96}
3    {'vowel': 1089, 'con': 2559, 'WordCount': 603}
4      {'vowel': 208, 'con': 496, 'WordCount': 120}
Name: TextCount, dtype: object